
.log-wrap{
    max-width: 100%;
}
img.log-pic{
    width: 100% !important;
    height: auto;
    display: block;
}
.log-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;

}
.grey{
    color: grey;
}
.email{
    width: 25%;
    padding:1.1%;
    color: black;
    border-color: rgb(246, 238, 238);
}
.otp{
    width: 25%;
    padding: 1%;
    background-color: black;
    color: white;
    margin-top: 2%;

}