*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.up-navbar{
    display: flex;
    color: white;
    background: black;
    height: 5.5vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    position: sticky;
    top: 0;
    z-index: 1000;



}

.nav-left,.nav-right{
    display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-link{
    font-size: 0.9rem;
}
.nav-link:hover{
    text-decoration: underline;
}
.lo-navbar{
    display: flex;
    height: 16.5vh;
    justify-content: space-between;
    padding: 0 6.5rem;

}
input{
    padding-left: 1rem;
}
/* img.seph-pic{
    
    
} */
.fi-navbar{
    background-color: white;
    display: flex;
    height: 4.9vh;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 15rem;
    position: sticky;
    top: 5.5vh;
    z-index: 900;
}
.search{
    display: flex;
    background-color: black;
    color: white;
    height: 6vh;
    width: 4vh;
    align-items: center;
    justify-content: center;

    border-bottom-right-radius: 1vh;
    border-top-right-radius: 1vh;

}
.box{
    height: 6vh;
    border-bottom-left-radius: 1vh;
    border-top-left-radius: 1vh;
    width: 60vh;
    border-color: rgba(175, 167, 167, 0.521);
    box-shadow: none !important;
    appearance: none;
    outline: none;
}

.hehe1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hehe2{
    display: flex;
    align-items: center;
}
img.free-pic{
    height: 10.5vh;
}
.btn{
    color: black;
    background-color: #ffffff;
    border-color: #ffffff;
    font-weight: bold;
    font-size: 1.9vh;
}
.btn:hover{
    background-color: #ffffff;
    color: black;
    border-color: #ffffff;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown-toggle::after {
  display: none;
}