.whole{
    display: flex;
    justify-content: space-between;
    padding:2rem;
    flex-wrap: wrap;
}
.name{
    font-weight: bold;
    font-size: 2vh;
}
.price{
    font-weight: bold;
}
.lip{
    width: 75%;
}
.lip-balm2,.lip-balm1{
    width: 20%;
}
.prod-cont img{
    width: 60%;
    position: relative;
}
.bagbut{
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    background-color: rgb(202, 19, 19);
    border: none;
    color: white;
    height: 6vh;
    width: 18%;
}
.prod-cont:hover .bagbut{
    opacity: 1;
    pointer-events: auto;
}
.bagbut button{
    background: red;
    width: 20%;
    top: 45vh;
}
.heart{
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: red;
    height: 7vh;
    width: 40%;
    font-size: 150%;

}
.prod-cont:hover .heart{
    opacity: 1;
    pointer-events: auto;
}